@tailwind base;
@tailwind components;
@tailwind utilities;

.font-default {
  font-family: "Poppins", sans-serif;
}

.custom-shape-divider-bottom-1670228579 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1670229731 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670229731 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 213px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1670229731 .shape-fill {
  fill: #cfcccc;
}
